.calendar {
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 8vh;
    left: 0;
    margin-top: 1rem;
}

.calendar--noNames {
    height: 100%;
    width: calc(100vw + 100px);
    position: fixed;
    top: 8vh;
    left: -100px;
}

.react-calendar-timeline .rct-header-root {
    background: #ecf0f1;
    border: none;
    color: #2B2118;
}

.react-calendar-timeline .rct-dateHeader-primary {
    color: #F5F5F5;
}

.calendar__button {
    position: fixed;
    top: 8vh;
    left: 0;
    height: 61px;
    width: 100px;
    z-index: 999999;
    border: none;
    margin-top: 1rem;
}