.calendar {
    height: 100%;
    width: 100vw;
    position: fixed;
    top: 8vh;
    left: 0;
    margin-top: 1rem;
    box-sizing: border-box;
    padding: 1rem;
}

.calendar--noNames {
    height: 100%;
    width: calc(100vw + 100px);
    position: fixed;
    top: 8vh;
    left: -100px;
}

.react-calendar-timeline .rct-header-root {
    background: #ecf0f1;
    border: none;
    color: #2B2118;
}

.react-calendar-timeline .rct-dateHeader-primary {
    color: #F5F5F5;
}

.calendar__button {

    top: 8vh;
    left: 0;
    height: 61px;
    width: 100px;
    z-index: 999999;

    margin-top: 1rem;
}

.react-calendar-timeline .rct-calendar-header {
    border: none;

}
.react-calendar-timeline .rct-header-root{
    background-color: #fff;

}
.react-calendar-timeline .rct-dateHeader-primary {
    color: #000;
}
.react-calendar-timeline .rct-sidebar .rct-sidebar-row{
    border: 1px solid #bbb;
}
.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
  }
.py-3 {
  padding-top: 1rem !important;
}
.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }
  .font-weight-bold {
    font-weight: 700 !important;
  }
  .text-primary {
    color: #4e73df !important;
  }
  .m-0 {
    margin: 0 !important;
  }