.rbc-month-view {
    height: 100vh;
}

.rbc-timeslot-group {   
    min-height: 30px;
}
.declarations-container{
    box-sizing: border-box;
    padding: 1rem;
}
.declarations-container__picker{
    padding: 2rem;
}
.declarations-btn{
    background: #3498db;;
    border-style: none;
    padding: 0.5rem 1rem;
    color: #ECF0F1;
    font-size: 0.8rem !important;
    border-radius: 2rem;
    cursor: pointer;
}
.rc-time-picker, .react-datepicker__input-container input{
    margin: 1rem;
}
.rc-time-picker-input {
    padding: 1rem;
}
.react-datepicker__input-container input{
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 0.40rem;
}

@media only screen and (max-width: 992px) {
    .declarations-container__picker{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
} 