.join {
  min-height: calc( 100vh - 8vh);

  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.join__logo {
  max-height: min(50vh, 50vw);
  max-width: min(50vh, 50vw);
  margin-bottom: min(20vh, 20vw);
}

.join__text{
 color: #bdc6c7;
 font-size: 3rem;
}

.join-img{
  max-width: 80%;
  max-height: 90%;
}
.join-container{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .join__button {
    width: 70%;
    height: 30%;
  }
}

@media screen and (min-width: 768px) {
  .join__button {
    width: 50%;
    height: 25%;
  }
}
