.join {
  height: calc( 100vh - 8vh);

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.join__logo {
  max-height: min(50vh, 50vw);
  max-width: min(50vh, 50vw);
  margin-bottom: min(20vh, 20vw);
}

.join__buttons {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.join__button{
  border-radius: 1rem;
  border: none;
  background-color: #3498db ;
}
.join-img{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .join__button {
    width: 70%;
    height: 30%;
  }
  .join-img{
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .join__button {
    width: 50%;
    height: 25%;
  }
}
