

.login {
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
  }
  .login-container__login{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
  }
  .login-container__img{
    box-sizing: border-box;
  }
  .login-container__img img{ 
    max-width: 90%;
  }
  .login-container__card{
    width: 30%;
    display: flex;
    flex-direction: column;
    min-height: 90%;
    background-color: #34495e;
    border-radius: 2rem;
    color: #fff;
  }
  .login-hole{
    background-color: #ecf0f1;
    width: 3rem;
    height: 1rem;
    border-radius: 0.4rem;
  }

  .login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login__field {
    width: 100%;
    height: 15%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .login__field input{
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(163, 163, 163)
  }
  
  .login__label {
    font-size: 14px;
  }
  
  .login__buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
  }
  .login__buttons button {
    border-radius: 0.5rem;
  }
  
  .login__button {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  
  .login__message {
    height: 10%;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .login__message--visible {
    color: rgba(226, 65, 81, 0.8);
  }
.login-btn__login{
  background-color: #2983c0 ;
  color: #fff !important;
}
  @media screen and (max-width: 768px) {
    .login__form {
      height: 60%;
    }
  
    .login__input {
      height: 50%;
      font-size: 20px;
    }
  
    .login__buttons {
      height: 20%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .login__form {
      height: 60%;
    }
  
    .login__input {
      height: 50%;
      font-size: 20px;
    }
  
    .login__buttons {
      height: 20%;
    }
  }
  @media screen and (max-width: 966px) {
    .login-container__img{
      display: none;
    }
  }