.start--layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.start--hidden {
  display: none;
}

.start {
  height: 92vh;
  width: 100%;
}
.start-icon{
  color: #fff;
  font-size: 5rem;
}
.start-container__timer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.start-container__timer p{
  font-size: 3rem;
  color: #bdc6c7;
  padding-left: 2rem;
  margin: 10px;

}
.start-btn{
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.start-btn:hover{
  background-color: rgb(16, 94, 145) ;
}
.start-container__img img{
  width: 90%;
}
@media screen and (max-width: 768px) {
  .start--layout {
    flex-direction: column;
  }
  .start-container__timer{
    display: block;
    padding: 1.2rem;
  }
  .start-container__timer p{
    padding-left: 0rem;
  
  }
}
@media only screen and (max-width: 992px) {
  .start-container__img {
    display: none;
  }
} 
