.navbar {
    background: #333;
    height: 7vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbarButton:hover {
    color: #AA0;
    background-color: #555;
    font-weight: bolder;
}

.navbarButton {
    background: #333;
    padding-left: 0.5rem; 
    margin: 0rem 0rem 0.1rem 0rem; 
    padding: 1rem 0rem 1rem 0.5em; 
    text-align: left;
    color: #DDD;
    font-weight: bold;
}

.menu {
    background: #111;
    width: 50vw;
    padding: 0.1rem 0.1rem 0rem 0rem; 
    position: fixed;
    left: 0;
    top: 7vh;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
